<!-- app/views/chatrooms/show.html.erb -->
<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @relationship.id %> " data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <h1>#<%= %></h1>

  <% @relationship.messages.each do |message| %>
    <div class="messages <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %> " data-chatroom-subscription-target="messages">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
        <%= render "messages/message", message: message %>
      </div>
    </div>
  <% end %>



  <%= simple_form_for [@relationship, Message.new],  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content, wrapper_html: {class: "flex-grow-1"}, placeholder: 'Write your message here...' %>
    <%= f.submit 'Send message!', class: 'btn btn-primary mb-3' %>
  <% end %>
  </div>
