<div class="profile-container container">

  <div class="images-container">
    <% if @user.photos.attached? %>
      <% @user.photos.each do |photo| %>
        <%= image_tag photo %>
      <% end %>
    <% else %>
      <%= image_tag "imageprofil1.jpg" %>
      <%= image_tag "imageprofil2.jpg"%>
      <%= image_tag "imageprofil3.jpg"%>
      <%= image_tag "imageprofil2.jpg" %>
      <%= image_tag "imageprofil3.jpg"%>
    <% end %>
  </div>

  <div class="infofinal">
    <div class="runner_info">
      <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, class: "avatar" %>
    <% else %>
      <%= image_tag "janesmith.jpg", class: "avatar" %>
    <% end %>
      <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
      <p><%= @user.description %></p>
    </div>

    <div class="info">

      <div class="runner-details">
        <div class="runner-detail">
          <%= image_tag "carte.png", class: "iconshow" %>
          <p class="info"><%= @user.address %></p>
        </div>
        <div class="runner-detail">
          <%= image_tag "pace.png", class: "iconshow" %>
          <p class="info"><%= @user.running_pace %>/km</p>
        </div>
        <div class="runner-detail">
          <%= image_tag "taches.png", class: "iconshow" %>
          <p class="info"><%= @user.preparation %></p>
        </div>
        <div class="runner-detail">
          <%= image_tag "sport.png", class: "iconshow" %>
          <p class="info"><%= @user.other_sport %></p>
        </div>
        <div class="runner-detail">
          <%= image_tag "sport.png", class: "iconshow" %>
          <p class="info"><%= @user.run_frequency %></p>
        </div>
        <div class="runner-detail">
          <%= image_tag "runs.png", class: "iconshow" %>
          <p class="info"><%= @user.next_official_running_event %></p>
        </div>
      </div>



      <div class="rsection container">
        <div class="preference">
          <%= image_tag "day.png", class: "iconshow" %>
          <p class="info"><%= @user.preference_date %></p>
        </div>
        <div class="preference">
          <%= image_tag "hour.png", class: "iconshow" %>
          <p class="info"><%= @user.preference_hour %></p>
        </div>


      <div class="Medals-container">
        <div class="Medal">
          <%= image_tag "medaille.png", class: "iconshow" %>
          <p class="info"><%= @user.next_official_running_event %></p>
        </div>
        <div class="Medal">
          <%= image_tag "medaille.png", class: "iconshow" %>
          <p class="info"><%= @user.next_official_running_event %></p>
        </div>
      </div>
      </div>

    </div>

  </div>

  <% unless current_user == @user  %>

    <% if @relationships_as_asker.empty? && @relationships_as_receiver.empty? %>

      <%= simple_form_for Relationship.new do |f| %>
        <div class="d-none">
          <%= f.input :receiver_id, input_html: { value: @user.id } %>
        </div>
        <%= f.button :submit, "Create Relationship", class: "btnshow" %>
      <% end %>
    <% end %>
  <div class= "relation-container">
      <% @relationships.each do |relationship| %>
        <%= simple_form_for([relationship, Meeting.new]) do |f| %>
          <div class="form-group">
            <%= f.label :date %>
            <%= f.datetime_select :date, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :location %>
            <%= f.text_field :location, class: 'form-control' %>
          </div>
          <%= f.submit 'Create Meeting', class: "btnshowmeting"%>
        <% end %>
      <% end %>


      <% @relationships.each do |relationship| %>
        <%= link_to "Go to Chatroom", relationship_path(relationship), class: "btnshowmeting" %>
      <% end %>


    <% end %>
  </div>

</div>
