<div class="main-container">
  <div class="right-section d-flex">
    <div class="suggestions">
      <div class="top-bar">
        <%= link_to "City", dashboard_path(sort: 'city'), class: 'top-bar button' %>
        <%= link_to "Running Pace", dashboard_path(sort: 'pace'), class: 'top-bar button' %>
      </div>
      <h3>Suggestions</h3>
      <div class="card-deck">
        <% @users.each do |user| %>
          <div class="card suggestion-card shadow-lg ">
            <%= cl_image_tag user.avatar.key, class: 'card-img-top' %>
            <div class="card-body">
              <h4 class="card-title"><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></h4>
              <p class="card-text">
                <%= image_tag 'carte.png', class: 'emoticon' %> <%= user.address.split(',')[1].strip %>
              </p>
              <p class="card-text">
                <%= image_tag 'sport (1).png', class: 'emoticon' %> <%= user.running_pace %> km
              </p>
              <p class="card-text">
                <%= image_tag 'stylo.png', class: 'emoticon' %> <%= user.description %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= image_tag 'map_runningtest.png', class: 'map-img' %>
  </div>
</div>
