<div class="main-container">
  <div class="right-section d-flex">
    <div class="suggestions">
      <h3>Your search results for : "<%= params[:query].capitalize %>"</h3>
      <div class="search">
        <div class="card-deck">
          <% if @users.any? %>
            <% @users.each do |user| %>
              <% unless user == current_user %>
                <div class="card suggestion-card shadow-lg">
                  <%= link_to user_path(user), class: "card-link" do %>
                    <%= cl_image_tag user.avatar.key, crop: :fill, gravity: :face, class: 'card-img-top' %>
                    <div class="card-body">
                      <h4 class="card-title"><%= "#{user.first_name} #{user.last_name}" %></h4>
                      <p class="card-text">
                        <%= image_tag 'carte.png', class: 'emoticon' %> <%= user.address.split(',')[1].strip %>
                      </p>
                      <p class="card-text">
                        <%= image_tag 'sport (1).png', class: 'emoticon' %> <%= user.running_pace_minute_and_second %> / km
                      </p>
                      <p class="card-text">
                        <%= image_tag 'stylo.png', class: 'emoticon' %> <%= user.description %>
                      </p>
                      <p class="card-text">
                        <%= image_tag 'meetings.png', class: 'emoticon' %> <%= user.preference_date %> at <%= user.preference_hour %>h
                      </p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <em>Sorry, no user found.</em>
          <% end %>
        </div>
      </div>
    </div>
    <div class="map-section"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
