<%# Side bar %>
<div class="sidebar">
  <div class="sidebar-header">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, class: "avatar" %>
    <% else %>
      <%= image_tag "janesmith.jpg", class: "avatar" %>
    <% end %>
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
  </div>
  <ul class="sidebar-details border-end">
    <li>
      <%= image_tag "connection.png", class: "icon" %>
      <%= @user.relationship_number %>
    </li>
    <li>
      <%= image_tag "meetings.png", class: "icon" %>
      <%= @user.meeting_number %>
    </li>
    <li>
      <%= image_tag "pace.png", class: "icon" %>
      <%= @user.running_pace_minute_and_second %> / km
    </li>
    <li>
      <%= image_tag "day.png", class: "icon" %>
      <%= @user.preference_date %>
    </li>
    <li>
      <%= image_tag "hour.png", class: "icon" %>
      <%= @user.preference_hour %>pm
    </li>
    <li>
      <i class="fa-solid fa-bullseye fa-2x", style="color: #7853DB;"></i>
      <%= @user.next_official_running_event %>
    </li>
  </ul>
</div>
