
<div class="sidebar">
  <div class="sidebar-header text-center">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, class: "avatar" %>
    <% else %>
      <%= image_tag "janesmith.jpg", class: "avatar" %>
    <% end %>
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
  </div>
  <ul class="sidebar-details list-unstyled border-end">
    <div data-controller="dropdown">
      <li class="d-flex align-items-center justify-content-between mb-4 px-4 --cursor-pointer" data-dropdown-target="head" data-action="click->dropdown#toggleList">
        <i class="fa-solid fa-user-group fa-2x me-2" style="color: #7853DB;"></i>
        <%= @relationships.count %>
      </li>
      <div class="buddies-list d-none dropdown-content mb-3" data-dropdown-target="list">
        <% @relationships.each do |relationship| %>
        <div class="d-flex justify-content-center my-2 meeting-display">
          <% if relationship.asker == current_user %>
            <%= link_to "#{relationship.receiver.first_name} #{relationship.receiver.last_name}", user_path(relationship.receiver), class: 'text-decoration-none text-dark' %>
          <% else %>
            <%= link_to "#{relationship.asker.first_name} #{relationship.asker.last_name}", user_path(relationship.asker), class: 'text-decoration-none text-dark' %>
          <% end %>

        </div>
        <% end %>
      </div>
    </div>
    <div data-controller="dropdown">
      <li class="d-flex align-items-center justify-content-between mb-4 px-4 --cursor-pointer" data-dropdown-target="head" data-action="click->dropdown#toggleList">
        <i class="fa-regular fa-handshake fa-2x me-2" style="color: #7853DB;"></i>
        <%= @meetings.count %>
      </li>
      <div class="meetings-list d-none dropdown-content mb-3" data-dropdown-target="list">
        <% @meetings.each do |meeting| %>
        <div class="d-flex justify-content-center my-2 meeting-display">
          <%= meeting.date %>, <%= meeting.time.strftime("%H:%M") %>
          in <%= meeting.location %>
        </div>
        <% end %>
      </div>
    </div>
    <li class="d-flex align-items-center justify-content-between mb-4 px-4">
      <i class="fa-solid fa-person-running fa-2x me-2" style="color: #7853DB;"></i>
      <%= @user.running_pace_minute_and_second %> / km
    </li>
    <li class="d-flex align-items-center justify-content-between mb-4 px-4">
      <i class="fa-regular fa-calendar fa-2x me-2" style="color: #7853DB;"></i>
      <%= @user.preference_date %>
    </li>
    <li class="d-flex align-items-center justify-content-between mb-4 px-4">
      <i class="fa-regular fa-clock fa-2x me-2" style="color: #7853DB;"></i>
      <%= @user.preference_hour %>pm
    </li>
    <li class="d-flex align-items-center justify-content-between mb-4 px-4">
      <i class="fa-solid fa-bullseye fa-2x me-2" style="color: #7853DB;"></i>
      <%= @user.next_official_running_event %>
    </li>
  </ul>
</div>
