<%# Side bar %>
<div class="sidebar">
  <div class="sidebar-header">
    <%= cl_image_tag @user.avatar.key, class: "avatar" %>
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
  </div>
  <ul class="sidebar-details border-end">
    <li>
      <%= image_tag "connection.png", class: "icon" %>
      <%= @user.relationship_number %>
    </li>
    <li>
      <%= image_tag "meetings.png", class: "icon" %>
      <%= @user.meeting_number %>
    </li>
    <li>
      <%= image_tag "pace.png", class: "icon" %>
      <%= @user.running_pace %>/km
    </li>
    <li>
      <%= image_tag "day.png", class: "icon" %>
      <%= @user.preference_date %>
    </li>
    <li>
      <%= image_tag "hour.png", class: "icon" %>
      <%= @user.preference_hour %>pm
    </li>
    <li>
      <%= image_tag "runs.png", class: "icon" %>
    </li>
  </ul>
</div>
